@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

.topic-list {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  padding-top: 80px;
  border-radius: 12px;
}
/* 
.topic-list h1 {
  font-size: 2rem;
  color: #333;
  border-bottom: 2px solid #f703ff;
  padding-bottom: 8px;
  margin-bottom: 20px;
  text-align: center;
} */

.topic-form,
.search-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.topic-form {
  padding: 20px;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 8px;
}

.topic-form input {
  width: 70%;
  height: 3.5em;
}

.search-form {
  margin: 30px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  flex: 1;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #f703ff;
  outline: none;
}

button {
  padding: 10px 15px;
  background: #f703ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background: #f703ff;
}

.topic-items {
  margin-top: 20px;
}

.topic-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  margin-bottom: 10px;
  transition-duration: .1s;
}

.topic-item:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.topic-item p {
  font-size: medium;
  font-weight: lighter;
}

.topic-title {
  font-size: 1.2rem;
  /* color: #bf00c5; */
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.topic-description {
  color: #555;
  font-size: 0.9rem;
}


.custom-div-icon {
  background: transparent;
  border: none;
}

.map-thumbnail {
  text-align: center;
  background: rgb(222, 54, 255);
  padding: 5px;
  border-radius: 5px;
}

.map-thumbnail img {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.map-thumbnail p {
  white-space: nowrap;
  color: aliceblue;
  font-size: 8px;
  margin: 5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-div-icon.current-user-post .map-thumbnail {
  background: rgb(7, 207, 0);
}

.post-detail-popup .leaflet-popup-content-wrapper {
  width: 600px;
}

.post-detail-popup .leaflet-popup-content {
  width: auto !important;
  margin-bottom: 10px;
}

.post-form-popup .leaflet-popup-content-wrapper {}

.description {
  max-height: 120px;
  overflow-y: auto;
}

.description p {
  margin: 0;
}

.comment-container {
  width: 100%;
  /* margin: 0 auto;
    padding: 10px;
    border-radius: 8px; */
}

.comment-container h4 {
  padding: 5px;
  margin-bottom: 10px;
}

.comment-box {
  height: 100px;
  overflow-y: auto;
  padding: 0px 10px;
  background: white;
  border-radius: 5px;
  /* border: 1px solid #ddd; */
  display: flex;
  flex-direction: column;
}

.no-comment {
  color: #999;
  text-align: center;
  padding: 30px 10px;
}

.description::-webkit-scrollbar,
.comment-box::-webkit-scrollbar {
  background: #ececec;
  width: 6px;
  height: 15px;
  border-radius: 20px;
}

.description::-webkit-scrollbar-thumb,
.comment-box::-webkit-scrollbar-thumb {
  background-color: rgb(165, 164, 164);
  border-radius: 20px;
}

.comment-box hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
}

.comment-box p {
  margin: 0;
}

.comment-form {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.comment-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-form button {
  padding: 8px 12px;
  background-color: #f703ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #a804ad;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-title {
  margin-bottom: 10px;
}

.popup-body {
  display: flex;
}

.popup-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  margin-right: 10px;
}

.popup-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  list-style: none;
  position: relative;
  padding-left: 20px;
  user-select: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "✚";
  position: absolute;
  left: 0;
  top: 0;
}

details[open] summary::before {
  content: "▲";
}

.full-view {
  position: relative;
}

.header {
  height: 60px;
  position: fixed;
  z-index: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  box-sizing: border-box;
  padding: 10px;
}

/* .header-left, .header-right {
  display: flex;
  align-items: center;
} */

.app-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  padding: 10px;
  width: 250px;
  height: auto;
}

.home-img, .account-img {
  width: 30px;
  height: auto;
}

.login-form {
  padding-top: 80px;
}