name: Go Test

on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Install dependencies
        working-directory: ./api
        run: go mod tidy

      - name: Run tests
        working-directory: ./api
        env:
          MONGO_URI: mongodb://localhost:27017
          TEST_ENV: true
        run: go test -v ./...